@import "./variables.pcss";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,300i,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:global .errors {
  color: red;
}
:global .errors span {
  display: block;
}